.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: start;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
  background-color: #13152c;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}
.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  color: #f5f3c2;
}

.groupTitle {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  color: #f5f3c2;
  /* give it underline */
  text-decoration: underline;
}
.groupArea {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.groupGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 9px;
  justify-items: center;
}
.twoColumns {
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.threeColumns {
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.groupDescription {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  font-weight: 150;
  color: #ffffff;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.description p {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  font-weight: 150;
  color: #ffffff;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerDisclaimer {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  font-weight: 150;
  color: #ffffff;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }
  .groupGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
